/* Fügen Sie die Polsterung und den Rand in die Gesamtbreite und -höhe eines Elements ein */

* {
    box-sizing: border-box;
}

body {
    background: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    opacity: 0, 5;
}


/* löschen Rand und Polsterung */

ul {
    margin: 0;
    padding: 0;
}


/* gestalten die Listelmente */

ul li {
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* Deaktivieren Sie die Listenelemente */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Stellen Sie alle ungeraden Listenelemente auf eine andere Farbe ein (Zebrastreifen). */

ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* beim Schweben die Farbe ändern*/

ul li:hover {
    background: #ddd;
}


/* wenn List Item ist makiert, wirk Spann Farbe dunkeln ändern*/

ul li.checked {
    background: rgb(34, 138, 39);
    color: #fff;
    text-decoration: line-through;
}


/* Fügen Sie beim Klicken ein "Häkchen" hinzu */

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* gestalten close button */

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #34286d;
    color: white;
}


/* gestalten To do list header */

.header {
    border-radius: 20px;
    background: linear-gradient(to right top, aquamarine, rgb(12, 170, 170));
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* gestalten Input */

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* gestalten hinzufügen Button */

.addBtn {
    padding: 10px;
    width: 25%;
    background: #102d2b58;
    color: #f7e812;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: rgb(20, 19, 19);
}